.page-header {
  background: linear-gradient(to top right, rgba(252, 227, 138, 0.8), rgba(243, 129, 129, 0.8)), url("../images/img/picture@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 228px;

  &__button {
    border-style: solid;
    border-width: 3px;
    border-color: $white-color;
    background-color: $black-color;
    width: 164px;
    height: 44px;
    font-size: $min-size;
    font-family: $Montserrat-font;
    color: $white-color;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
  }
}

.wrapper-nav {
  width: 1200px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;

  &__site-logo {
    background-size: contain;
  }
}

.site-navigation {
  width: 500px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  text-decoration: none;
}

.site-navigation__icon {
  width: 15px;
  height: 15px;
}

.site-navigation__link {
  display: block;
  text-decoration: none;
  position: relative;
  font-size: $min-size;
  font-family: $Montserrat-font;
  font-weight: bold;
  color: $white-color;
  text-transform: uppercase;

  &::after {
    display: none;
    content: "";
    top: 10px;
    width: 100%;
    height: 3px;
    background-color: $yellow-color;
    margin-top: 12px;
    position: absolute;
  }

  &:hover {
    color: $yellow-color;
  }

  &:hover::after {
    display: block;
    color: $pink-color;
  }
}

.banner-site {
  margin-top: 180px;

  &__info {
    font-size: $banner-size;
    font-family: $Kaushan-font;
    color: $white-color;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 56px;
  }

  &__name {
    font-size: 150px;
    font-family: $Montserrat-font;
    color: $white-color;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 120px;
  }
}


.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
