html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    color: #515151;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1110px;
    margin: 0 auto;
    background: burlywood;
}

.page-header {
    background-color: blanchedalmond;
}

.page-nav {
    padding: 38px 0 0;
}

.site-logo {
    display: inline-block;
    vertical-align: middle;
}


/* site navigation*/

.site-navigation{
    display: inline-block;
    vertical-align: middle;
    width: 1030px;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    font-size: 10px;
    list-style: none;
    text-align: right;
}
.site-navigation li {
    display: inline-block;
}
.site-navigation li:not(:last-child) {
    padding: 0 15px;
}
.contact {
    padding-left: 15px;
}
.site-navigation a{
    color: #0f0101;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 16px;
}


.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

/* featured product */

.features-title {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 48px;
    color: rgb(85, 82, 82);
}

.wrapper {
    background-color: rgb(78, 198, 171);
    width: 164px;
    height: 7px;
    text-align: center;
    margin: 0 auto;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.features-list-item {
    display: inline-block;
    margin-right: 30px;
}

.features-list-item:nth-of-type(4n) {
    margin-right: 0;
}   


/* latest news */

.title-news {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 48px;
    color: rgb(85, 82, 82);
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news-list-item {
    display: inline-block;
    margin-right: 26px;
}

.news-list-item:last-child {
    margin-right: 0;
}
    

