.navigation{
    text-transform: uppercase;
}

.navigation_links{
    list-style-type: none;
    margin: 0 auto;
}

.header, .content{
    width: 901px;
    margin: 0 auto;
}

.header{
    margin-bottom: 104px;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover {
        color: #25b4f5;      
}


.navigation_links > li{
    display: inline-block;
}

.punkt{
    margin-left: 62px;
    margin-right: 62px;
    margin-top: 24px;
}

.post_img{
    margin-bottom: 32px;
}

.post_tag{
    margin-bottom: 32px;
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
}

h2{
    margin-bottom: 36px;
    font-size: 30px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.2;
}

p{
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.714;
}
      
     

.post{
    width: 421px;
    margin-bottom: 132px;
}

.post{
    display: inline-block;
}

.right{
    margin-left: 59px;
}

.button{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-family: "Myriad Pro";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    border-width: 1px;
    width: 162px;
    height: 58px;
    border-color: rgb(98, 98, 98);
    border-style: solid; 
  }

  .button:hover{
      background-color: brown;
  }

  .content{
      font-size: 0;
  }

  
  
  


