$Kaushan-font: 'Kaushan Script', cursive;
$Montserrat-font: 'Montserrat', sans-serif;
$Roboto-font: "Roboto", sans-serif;

$white-color: rgb(255, 255, 255);
$yellow-color: #fce38a;
$aqua-color: #95e1d3;
$black-color: rgba(0, 0, 0, 0);
$pink-color: rgb(243, 129, 129);
$rows-color: #f38181;
$grey-color: rgb(51, 51, 51);

$min-size: 14px;
$banner-size: 72px;
$title-size: 30px;

